.c-coves-form {
  background-color: $color-blue-lighter;
  border-radius: 0;
  padding: $base-spacing-unit;
  @include flex-container(column);
  min-width: 300px;
  width: 100%;
  flex-grow: 1;
}

.c-coves-form__input-container--column {
  @include flex-container(column, center);
}

.c-coves-form__label {
  color: $color-blue-dark;
  @include font-size(20px);
  font-weight: 600;
  text-align: center;
  margin-bottom: $base-spacing-unit-small;
}

.c-coves-form__input {
  background-color: $color-white;
  border-radius: $base-radius;
  padding: $base-spacing-unit-small;
  box-shadow: 0 1px 0 rgba(0, 169, 255, 0.5),0 1px 0 rgba(0,0,0,.07) inset;

  &:hover,
  &:focus {
    box-shadow: 0 0 3px 2px rgba(0, 169, 255, 0.5);
  }

  @at-root .c-coves-form__input-container--column &:last-child {
    margin-bottom: $base-spacing-unit;
  }
}

.c-coves-form__textarea {
  font-family: 'Fira Mono', monospace;
  line-height: $base-font-size;
  padding: 10px;
}