.o-center-margin {
  margin-left: auto;
  margin-right: auto;
}

.o-center-container {
  display: flex;
  justify-content: center;
}

.o-center-container--column {
  flex-direction: column;
  align-items: center;
}

.o-center-container--wrap {
  flex-wrap: wrap;
}